USE [ProgramBudDB]
GO
/****** Object:  StoredProcedure [dbo].[SP003_DepartmentAcceptorUser_Read]    Script Date: 12/9/2024 9:39:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP003_DepartmentAcceptorUser_Read]
@Id int
AS
BEGIN
 SELECT        Id, FirstName, LastName, Resposibility, UserId
FROM            tblDepartmentAcceptorUser
WHERE        (DepartmanAcceptorId = @Id)
END
GO
