USE [ProgramBudDB]
GO
/****** Object:  StoredProcedure [dbo].[SP012_AmlakInfo_Search]    Script Date: 12/9/2024 9:39:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP012_AmlakInfo_Search]
@AreaId int,
@AmlakInfoKindId int

AS
BEGIN
SELECT        tblAmlakInfo.Id, tblAmlakInfo.AreaId, tblAmlakInfo.AmlakInfoKindId, tblAmlakInfoKind.AmlakInfoKindName, tblAmlakInfo.EstateInfoName, tblAmlakInfo.EstateInfoAddress, TblAreas.AreaName, tblAmlakInfo.AmlakInfolate, 
                         tblAmlakInfo.AmlakInfolong, tblAmlakInfo.AmlakInfoId,tblAmlakInfo.CurrentStatus,tblAmlakInfo.Structure,tblAmlakInfo.Owner, ISNULL
                             ((SELECT COUNT(AmlakId) AS total
                                 FROM tblAmlakContract
                                 WHERE        (AmlakId = tblAmlakInfo.Id)
                                 GROUP BY AmlakId), 0) AS TotalContract, ISNULL(tblAmlakInfo.IsSubmited,0)As IsSubmited, ISNULL(tblAmlakInfo.Masahat,0)As Masahat,ISNULL(IsContracted,0)As IsContracted, tblAmlakInfo.TypeUsing, 
                         tblAmlakInfo.CodeUsing
FROM            tblAmlakInfo LEFT OUTER JOIN
                         tblAmlakInfoKind ON tblAmlakInfo.AmlakInfoKindId = tblAmlakInfoKind.Id LEFT OUTER JOIN
                         TblAreas ON tblAmlakInfo.AreaId = TblAreas.Id
Where tblAmlakInfo.AreaId=@AreaId and tblAmlakInfo.AmlakInfoKindId=@AmlakInfoKindId
END
GO
