USE [ProgramBudDB]
GO
/****** Object:  StoredProcedure [dbo].[SP012_ContractArea_Update]    Script Date: 12/9/2024 9:39:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP012_ContractArea_Update]
@Id int,
@ShareAmount bigint
AS
BEGIN
   update tblContractArea
   set ShareAmount = @ShareAmount
          where Id = @Id
END
GO
