USE [ProgramBudDB]
GO
/****** Object:  StoredProcedure [dbo].[SP050_Syetem_Com]    Script Date: 12/9/2024 9:39:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP050_Syetem_Com]

AS
BEGIN
    SELECT        Id, SystemName
		FROM            Car.tblCarSystem
END
GO
