
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<style>
    .highcharts-root {
        font-family: Vazir_Medium !important;
    }

    .highcharts-credits {
        display: none !important;
    }
</style>

<div id="modal-placeholder"></div>


<div class="container-fluid mt--7">
    <div class="header-body">
        <div class="row">

        </div>
    </div>

    <div class="row mt-5">
        <div class="card shadow w-100">

        </div>
    </div>
</div>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

