@model List<NewsWebsite.ViewModels.BudgetProcess.BudgetProcessViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    tr, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .tableFixHead {
        overflow: auto;
        height: 100px;
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
    }

        .tableFixHead thead {
            position: sticky;
            top: 0px;
            z-index: 150000;
        }
</style>
<div id="modal-placeholder"></div>

<div>
    <div>
        <table class="tableFixHead" style="border: 1px solid black; border-collapse: collapse; width: 100%;">
            <thead style="color: black;" class="bg-gray-high-table">
                <tr style="border: 1px solid black; border-collapse: collapse;">
                    <th class="text-center">ردیف</th>
                    <th class="text-center">شرح</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody style="color:black; border: 1px solid black; border-collapse: collapse; width: 100%;">

                @if (Model.Count > 0)
                {
                    int i = Model.Count;
                    foreach (var item in Model)
                    {
                        <tr style="background-color:#76afea">
                            <td class="text-center">@i</td>
                            <td>@item.ProcessName</td>
                            <td class="text-center">
                                <button type="button" class="btn-icon" data-toggle="ajax-modal" data-url="@Url.Action("Delete","BudgetProcessType",new {id=item.Id})">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                            </td>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="11" class="text-center">هیچ داده ای در جدول وجود ندارد.</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

